#page-wrapper {
    margin: 0;
    padding: 0;
}

/* HEADER */

#page-wrapper > header {
    
    margin-bottom: 20px;
    border: 10px solid black;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.top-bar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.top-bar > div {
    background-color: rgb(134, 34, 34);
    border: 10px solid rgb(12, 52, 112);
    height: 15px;
}

.page-title {
    background-color: rgb(211, 211, 105);
    border: 10px solid darkorange;
    height: 15px;
}

/* END_HEADER */

/* MAIN CONTENT */
#page-wrapper > main {
    margin-bottom: 20px;
    border: 10px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-content {
    border: 10px solid rgb(65, 87, 134);
    background-color: rgb(65, 87, 134);
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.main-content .main-item {
    background-color: rgb(29, 82, 182);
    height: 15px;
}

.main-content .main-double {
    background-color: lightskyblue;
    grid-column: 1/3;
    height: 15px;
}

/* .main-content {
    width: 70%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.main-content .main-item {
    box-sizing: border-box;
    background-color: rgb(29, 82, 182);
    border: 10px solid rgb(65, 87, 134);
    width: 50%;
    height: 40px;
} */

.main-sidebar {
    width: 30%;
    border: 10px solid rgb(165, 28, 28);
    background-color: rgb(165, 28, 28);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(15px, 1fr));
    row-gap:10px;
    align-items: start;
    
}

.main-sidebar .sidebar-single {

    background-color: rgb(243, 219, 83);
    height: 15px;

}

/* END_MAIN CONTENT */

/* FOOTER */

#page-wrapper > footer {
    border: 10px solid black;
    background-color: goldenrod;
    height: 15px;
}


/* END_FOOTER */
